.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px
    /* border-bottom: 1px solid #ddd; */
  }
  .profile-options span:hover{
    background-color: rgb(221, 216, 216);
    border-radius: 20px;
padding: 3px 14px;    
  }
  .profile-options .active-badge{
    background-color: orange;
    border-radius: 20px;
padding: 3px 14px; 
color: #fff;
font-size: 14px;
    font-weight: 4px;
  }
  
  .profile-picture img {
    
    /* width: 60px; */
    height: 130px;
    padding-right: 14px;
}
  
  
  .profile-info {
    flex: 1;
  }
  
  
  .profile-info h1 {
    margin: 0;
  }
  
  .profile-info p {
    margin: 5px 0;
  }
  
  .profile-options {
    display: flex;
    gap: 15px;
    margin-top: 20px;
  }
  
  .profile-options span {
    cursor: pointer;
    /* color: #0073e6;  */
    // font-weight: bold;
  }
  
  .header-buttons button {
    margin-left: 10px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
  }
  .header-buttons{
    position: absolute;
  right: 10px;
  top:20px;
  }
  
  
 